---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 6);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-black text-black dark:text-white">
سلام من اشکانم ✌️    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
کاری که انجام می‌دم فقط کدنویسی نیست؛ تلاش می‌کنم مسئله‌های واقعی آدم‌ها رو تبدیل کنم به محصولاتی که کار می‌کنن، مقیاس‌پذیرن و قابل اتکا هستن.
          </br>
در حال حاضر به‌عنوان Technical Lead در علی‌بابا فعالیت می‌کنم. تمرکزم بیشتر روی طراحی سیستم‌های بک‌اند و معماری سرویس‌هایی‌ه که زیر بار ترافیک واقعی کم نیارن.
          </br>
از سال ۲۰۱۶ حرفه‌ای برنامه‌نویسی می‌کنم. توی این مسیر علاوه بر ساختن سیستم‌ها، تیم‌ها رو هم ساختم؛ منتورینگ برنامه‌نویس‌های تازه‌کار، شکل دادن به استانداردهای فنی، و کمک به اینکه تیم‌ها سریع‌تر و با کیفیت‌تر جلو برن.
          </br>
قبل از دنیای نرم‌افزار، قهرمان ملی ژیمناستیک بودم و البته اتفاقات بعدش ...
          </p>
          <p class="animate">
            <Link href="/blog/me">اینجا از خودم و مسیرم بیشتر نوشتم.</Link>
          </p>
        </article>
      </section>

      <section class="animate">
        <ul class="flex flex-wrap justify-center gap-3">
          <li class="animate-rtl">
            <a href="https://x.com/AshkanRmk" target="_blank" aria-label={`${SITE.NAME} on X`} class="inline-flex size-10 items-center justify-center rounded-full border border-black/15 text-black/70 transition-colors duration-300 ease-in-out hover:text-black hover:bg-black/5 dark:border-white/20 dark:text-white/70 dark:hover:text-white dark:hover:bg-white/5">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-5 fill-current">
                <path d="M18.244 2H21.5l-7.11 8.126L22.75 22h-6.54l-5.123-6.71L5.22 22H2l7.605-8.695L1.5 2h6.706l4.63 6.13L18.244 2Zm-1.146 18.01h1.804L7.23 3.884H5.29l11.808 16.126Z" />
              </svg>
            </a>
          </li>
          <li class="animate-rtl">
            <a href="https://www.youtube.com/HappyDeveloper" target="_blank" aria-label={`${SITE.NAME} on YouTube`} class="inline-flex size-10 items-center justify-center rounded-full border border-black/15 text-black/70 transition-colors duration-300 ease-in-out hover:text-black hover:bg-black/5 dark:border-white/20 dark:text-white/70 dark:hover:text-white dark:hover:bg-white/5">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-5 fill-current">
                <path d="M23.5 7.2a3 3 0 0 0-2.11-2.12C19.53 4.5 12 4.5 12 4.5s-7.53 0-9.39.58A3 3 0 0 0 .5 7.2 31.72 31.72 0 0 0 0 12a31.72 31.72 0 0 0 .5 4.8 3 3 0 0 0 2.11 2.12c1.86.58 9.39.58 9.39.58s7.53 0 9.39-.58a3 3 0 0 0 2.11-2.12A31.72 31.72 0 0 0 24 12a31.72 31.72 0 0 0-.5-4.8ZM9.75 15.23V8.77L15.75 12l-6 3.23Z" />
              </svg>
            </a>
          </li>
          <li class="animate-rtl">
            <a href="https://github.com/ashkanrmk" target="_blank" aria-label={`${SITE.NAME} on GitHub`} class="inline-flex size-10 items-center justify-center rounded-full border border-black/15 text-black/70 transition-colors duration-300 ease-in-out hover:text-black hover:bg-black/5 dark:border-white/20 dark:text-white/70 dark:hover:text-white dark:hover:bg-white/5">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-5 fill-current">
                <path d="M12 .5a12 12 0 0 0-3.79 23.39c.6.1.82-.26.82-.58v-2.06c-3.34.72-4.04-1.42-4.04-1.42a3.2 3.2 0 0 0-1.34-1.77c-1.1-.75.08-.73.08-.73a2.54 2.54 0 0 1 1.85 1.25 2.58 2.58 0 0 0 3.53 1 2.57 2.57 0 0 1 .77-1.6c-2.66-.3-5.46-1.34-5.46-5.93a4.64 4.64 0 0 1 1.24-3.23 4.3 4.3 0 0 1 .12-3.19s1-.32 3.3 1.23a11.36 11.36 0 0 1 6 0c2.3-1.55 3.3-1.23 3.3-1.23a4.3 4.3 0 0 1 .12 3.19 4.64 4.64 0 0 1 1.24 3.23c0 4.61-2.81 5.62-5.49 5.92a2.87 2.87 0 0 1 .82 2.23v3.31c0 .32.22.69.82.58A12 12 0 0 0 12 .5Z" />
              </svg>
            </a>
          </li>
          <li class="animate-rtl">
            <a href="https://www.linkedin.com/in/ashkanrmk/" target="_blank" aria-label={`${SITE.NAME} on LinkedIn`} class="inline-flex size-10 items-center justify-center rounded-full border border-black/15 text-black/70 transition-colors duration-300 ease-in-out hover:text-black hover:bg-black/5 dark:border-white/20 dark:text-white/70 dark:hover:text-white dark:hover:bg-white/5">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-5 fill-current">
                <path d="M4.98 3.5a2.49 2.49 0 1 0 0 4.98 2.49 2.49 0 0 0 0-4.98ZM2.8 9.44h4.36V21.5H2.8V9.44Zm7.11 0h4.18v1.65h.06a4.58 4.58 0 0 1 4.12-2.26c4.4 0 5.21 2.9 5.21 6.67v5.99h-4.36v-5.31c0-1.26-.02-2.89-1.76-2.89-1.77 0-2.04 1.37-2.04 2.8v5.4H9.91V9.44Z" />
              </svg>
            </a>
          </li>
          <li class="animate-rtl">
            <a href="https://www.instagram.com/happy_developer/" target="_blank" aria-label={`${SITE.NAME} on Instagram`} class="inline-flex size-10 items-center justify-center rounded-full border border-black/15 text-black/70 transition-colors duration-300 ease-in-out hover:text-black hover:bg-black/5 dark:border-white/20 dark:text-white/70 dark:hover:text-white dark:hover:bg-white/5">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-5 fill-current">
                <path d="M7.75 2h8.5A5.75 5.75 0 0 1 22 7.75v8.5A5.75 5.75 0 0 1 16.25 22h-8.5A5.75 5.75 0 0 1 2 16.25v-8.5A5.75 5.75 0 0 1 7.75 2Zm0 1.8A3.95 3.95 0 0 0 3.8 7.75v8.5a3.95 3.95 0 0 0 3.95 3.95h8.5a3.95 3.95 0 0 0 3.95-3.95v-8.5a3.95 3.95 0 0 0-3.95-3.95h-8.5Zm9.1 1.35a1.1 1.1 0 1 1 0 2.2 1.1 1.1 0 0 1 0-2.2ZM12 7a5 5 0 1 1 0 10 5 5 0 0 1 0-10Zm0 1.8a3.2 3.2 0 1 0 0 6.4 3.2 3.2 0 0 0 0-6.4Z" />
              </svg>
            </a>
          </li>
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-black text-black dark:text-white">
            جلسه مشاوره
          </h5>
        </div>
        <ul class="flex flex-col gap-4">
          <li class="animate-rtl">
            <a href="/blog/consult" class="relative group flex flex-nowrap py-3 px-4 pl-10 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
              <div class="flex flex-col flex-1 truncate">
                <div class="font-black text-black dark:text-white">منتورینگ ۱:۱</div>
                <div class="text-sm">برای رشد شغلی، بازبینی مسیر فنی و برنامه یادگیری شخصی.</div>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="absolute top-1/2 left-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current">
                <line x1="5" y1="12" x2="19" y2="12" class="-translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out" />
                <polyline points="12 5 5 12 12 19" class="translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out" />
              </svg>
            </a>
          </li>
          <li class="animate-rtl">
            <a href="/blog/b2b" class="relative group flex flex-nowrap py-3 px-4 pl-10 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
              <div class="flex flex-col flex-1 truncate">
                <div class="font-black text-black dark:text-white">مشاوره فنی B2B</div>
                <div class="text-sm">برای تیم‌ها و استارتاپ‌ها با تمرکز بر معماری، مقیاس‌پذیری و نقشه راه.</div>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="absolute top-1/2 left-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current">
                <line x1="5" y1="12" x2="19" y2="12" class="-translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out" />
                <polyline points="12 5 5 12 12 19" class="translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out" />
              </svg>
            </a>
          </li>
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-black text-black dark:text-white">
            آخرین نوشته‌ها
          </h5>
          <Link href="/blog">
            مشاهده همه نوشته‌ها
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li class="animate-rtl">
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>
      <section class="animate space-y-4">
        <h5 class="font-black text-black dark:text-white">
          مسیرهای آموزشی
        </h5>
        <Link href="/courses">مشاهده دوره‌ها</Link>
      </section>
    </div>
  </Container>
</PageLayout>
